DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_DATABASE=reentrancy-attack
DB_SCHEMA=public
DB_SYNC=false
DB_LOG=false

ETHERSCAN_API_KEY=your_etherscan_api_key
# Free, Standard, Advanced, Professional, ProPlus
ETHERSCAN_API_TIER=Free
# You can also have multiple etherscan api keys
# ETHERSCAN_API_KEY_{suffix}=your_additional_etherscan_api_key
# ETHERSCAN_API_TIER_{suffix}=Free

QUICKNODE_ENDPOINT=your_quicknode_endpoint
QUICKNODE_TOKEN=your_quicknode_token
# Free, Build, Accelerate, Scale, Business
QUICKNODE_PLAN=Free

# Tenderly Node Access Keys, format: TENDERLY_ACCESS_KEY_<network>=<access_key>
TENDERLY_ACCESS_KEY_ETHEREUM=tenderly_ethereum_node_access_key
TENDERLY_ACCESS_KEY_ARBITRUM_ONE=tenderly_arbitrum_node_access_key
TENDERLY_ACCESS_KEY_POLYGON=tenderly_polygon_node_access_key